/* sidebar */
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #13141B;
    overflow-x: hidden;
    padding-top: 20px;
}

/* sidebar links */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
    max-width: 70ch;
}

/* for smaller screens */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

input[type=file] {
    display: block;
    color: lightgray;
}

a {
    color: greenyellow;
}

body {
    background-color: #13141B;
}

h1 {
    color: white;
}
h3 {
    color: lightgrey;
}
p {
    color: lightgrey;
}

.instruction_name {
    color: red;
}
.instruction_header {
    color: white;
}
.instruction_register {
    color: lightskyblue;
}
.instruction_immediate {
    color: lightpink;
}
.instruction_label {
    color: orchid;
}
.instruction_string {
    color: greenyellow;
}
.instruction_area {
    background-color: #2d3031;
    font-family: monospace;
}
